# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\AADS PROJECTS\04.05.20211\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
